:root {
  --corFundoDestaque: #e0e0e0;
  --corPrimaria: #00b7ff;
  --corHover: #004fa8;
  --corTexto: white;
}

#menuLateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 16rem;
    height: 100%;
    background-color: var(--corFundoDestaque);
    list-style-type: none;
    text-align: center;
}
#menuLateral ul{
    list-style-type: none;
}

#logo{
    margin-top: 1rem;
    width: 80%;
    margin-bottom: 1rem;
}
#menuLateral button{
    width: 10rem;
    height: 8rem;
    border-radius: 25%;
    margin-top: 1rem;
}
h1{
    background-color: var(--corPrimaria);
    color: var(--corTexto); 
    width: 96.5%;
    padding: 1rem;
    margin: 0;
    border-radius: 1rem 1rem;
}

button{
    background-color: var(--corPrimaria);
    color: var(--corTexto); 
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
}
button:hover{
    background-color: var(--corHover);
}

#caminhoPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;            
    margin: 0 auto;      
    background-color: var(--corFundoDestaque);
    border-radius: 1rem;
    text-align: center;  
}
#caminhoPrincipal button{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}