:root{
  --corFundoDestaque: #e0e0e0;
  --corPrimaria: #00b7ff;
  --corHover: #004fa8;
  --corTexto: white;
}

#menuLateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: var(--corFundoDestaque);
    list-style-type: none;
    text-align: center;
}
#menuLateral ul{
    list-style-type: none;
}

#logo{
    margin-top: 1rem;
    width: 80%;
    margin-bottom: 1rem;
}
#menuLateral button{
    width: 60%;
    height: 13%;
    border-radius: 25%;
    margin-top: 1rem;
}
h1{
    background-color: var(--corPrimaria);
    color: var(--corTexto);
    width: 96.5%;
    padding: 1rem;
    margin: 0;
    border-radius: 1rem;
}

button{
    background-color: var(--corPrimaria);
    color: var(--corTexto); 
    border: none;
    font-size: 150%;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    
}
button:hover{
    background-color: var(--corHover);
}

#comandos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;            
    margin: 0 auto;      
    background-color: var(--corFundoDestaque);
    border-radius: 1rem 1rem 1rem 1rem;
    text-align: center;  
    margin-top: 1rem;
}
#comandos button{
    width: 12rem;
    height: 8rem;
    border-radius: 20%;
    margin: 4rem;
    
}

#comandos ul{
  list-style: none;
  display: flex;
}


/*Responsividade*/

@media (max-width: 1024px){
    #menuLateral {
        width: 20%;
    }

    #menuLateral button{
        font-size: 1rem;
        height: auto;
        padding: 0.5rem;
    }
    #comandos button{
        width: 7rem;
        height: 6rem;
        margin: 2rem 0.5rem;
    }
}

@media (max-width: 768px){
    #menuLateral {
        position: relative;
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem 0;
    }

    #menuLateral button{
        width: auto;
        height: auto;
        font-size: 1rem;
        margin: 0.5rem;
        border-radius: 0.5rem;
    }

    #logo{
        width: 25%;
    }
    #comandos{
        width: 90%;
        margin-top: 1rem;
    }
    #comandos button{
        width: 8rem;
        height: 5rem;
        margin: 2rem 0.5rem;
    }
}

@media (max-width: 480px){
    h1 {
        font-size: 1.2rem;
    }

    button{
        font-size: 1rem;
        padding: 0.5rem;
    }

    #logo{
        width: 40%;
    }
    #comandos button{
        width: 5rem;
        height: 5rem;
        margin: 2rem 0.2rem;
    }
    #comandos ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
}